<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
   
</head>
<body>
    <div>
        <h1>Welcome to Our Website</h1>
        <div>
            <button onclick="location.href='/credential'">Login</button>
            <button onclick="location.href='/credential/signup'">Sign Up</button>
        </div>
        <div >
            <p>Developer: Md Ahshan Habib</p>
            <p>I am a beginner with Django projects. This is a simple welcome page with login and signup buttons.</p>
        </div>
    </div>
</body>
</html>